

body {
    background: linear-gradient(to top, #cfc0c0, gray);
}




.fw-bolder {
    color: rgb(252, 245, 245);
    font-size: 3rem;
    text-shadow: 5px 5px 5px black;
}
.titre {
    text-align: center;
    color: #efe7e7;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px #7e1818;
    margin-bottom: 20px;
}
.liste li {
    font-size: small;
    font-weight: bolder;
}
.card :hover {
    cursor: pointer;
    box-shadow: 30px 10px 10px 10px #9b9999;
    border: 2px solid #201e1eb8;
    background: #f9f2f2;
    transition: 0.5s ease-in-out;
}
#section {
    margin-top: 120px;
}
.logo {
    height: 400px;
    margin-bottom: 150px;
}